@model IEnumerable<rolesDemoSSD.ViewModels.MovieVM>

@{
    ViewData["Title"] = "Movie Library - Rewind";

}

<h1>Movie Library</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="CreateMovie">Create New</a>

    </p>
}

<div class="LibraryContainer">
    @foreach (var item in Model)
    {
        <div class="MovieCard">
            <figure class="ImgContainer">
                <img src="@Html.DisplayFor(modelItem => item.PosterSource)" />
            </figure>
        </div>

        <div class="MovieCardHidden">
            <div class="HiddenContent">
                <div class="HiddenSplit ImgSplit">
                    <figure class="HiddenImgContainer">
                        <img src="@Html.DisplayFor(modelItem => item.PosterSource)" />
                    </figure>
                </div>
                <div class="HiddenSplit">
                    <div class="CloseBtnContainer">
                        <button class="CloseBtn">X</button>
                    </div>
                    <h3 class="MovieTitle">@Html.DisplayFor(modelItem => item.MovieName)</h3>
                    <h3 class="Content">Genre</h3><h5 class="Genre Item">@Html.DisplayFor(modelItem => item.Genre)</h5>
                    <h3 class="Content">Duration<h5 class="Duration Item">@Html.DisplayFor(modelItem => item.Duration)</h5></h3>
                    <h3 class="Content">ReleaseDate<h5 class="ReleaseDate Item">@Html.DisplayFor(modelItem => item.ReleaseDate)</h5></h3>
                    <h3 class="Content">Distributor<h5 class="Distributor Item">@Html.DisplayFor(modelItem => item.Distributor)</h5></h3>
                    <div class="BtnHolder">
                        <button>Rent movie now</button>
                        <a asp-action="GetMovieById" asp-route-id="@item.MovieID">Post a review</a>
                        @Html.Partial("~/Views/Shared/_Paypal.cshtml")
                    </div>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a>
                    <a asp-action="DeleteMovie" asp-route-id="@item.MovieID">Delete</a>

                }
            </div>
        </div>
    }
</div>


@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MovieID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MovieName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PosterSource)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Duration)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Distributor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieName)
                    </td>

                    <td>
                        <figure>
                            <img src="@Html.DisplayFor(modelItem => item.PosterSource)" />
                        </figure>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Duration)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Distributor)
                    </td>
                    <td>
                        <a asp-action="GetMovieById" asp-route-id="@item.MovieID">Details</a>

                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a>
                            <a asp-action="DeleteMovie" asp-route-id="@item.MovieID">Delete</a>

                        }


                    </td>
                </tr>
            }
        </tbody>

    </table>*@

